#home_header h1 {
  margin-top: 2%;
}

#home_header h1 a {
  color: #aa2222;
  text-shadow: 2px 2px 0 black, 3px 3px 0 white;
  cursor: pointer;
  text-decoration: none;
}

#moon_row {
  height: 85vh;
}

#wolf-image {
  width: 80%;
  height: 55vh;
  position: absolute;
  bottom: 0;
  right: -15vw;
  z-index: 1;
}

#moon_image {
  width: 60%;
  height: 100%;
  margin: 0;
  opacity: 0.8;
  position: relative;
}

/* NOTE: DO NOT DELETE */
/* cause the moon to spin on landing page */
@media (prefers-reduced-motion: no-preference) {
  #moon_image {
    animation: App-logo-spin infinite 120s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#copyright {
  color: black;
  text-shadow: 0 0 10px #bdc6bc;
  font-family: nosifer, fantasy;
  font-size: 1em;
}

@media screen and (max-width: 425px) {
  #copyright {
    position: absolute;
    top: 20vh;
  }
  #moon_row {
    height: 50vh;
  }
  #wolf-image {
    width: 75%;
    height: 55vh;
    top: 14vh;
    left: 10vw;
  }
  #moon_image {
    margin: -15vh auto 0;
    float: right;
  }
}
